body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input, button, table {
    margin: 10px;
}

input[type="text"], input[type="date"] {
    padding: 8px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    
    border-collapse: collapse;
}

table, td {
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
   
}
.dltBtn{
    background-color: red;
}
#rstBtn{
    background-color: blue;
}
